<div class="row m-2">
  <small class="align-center btn"
         [class.btn-light]="!showAddFilter"
         [class.btn-dark]="showAddFilter"
         (click)="showAddFilter = !showAddFilter"><i class="fa fa-filter"></i></small>
  <div class="col d-flex align-items-center">
      <app-filter-badge *ngFor="let activeFilter of activeFilters; let i = index"
                        [filter]="activeFilter"
                        (filterClick)="onRemoveActiveFilter($event)"></app-filter-badge>
  </div>
</div>

<div class="row m-2" *ngIf="showAddFilter">
  <div class="col-3">
    <ng-select [items]="filterOptions" [(ngModel)]="newFilter.field" (keyup.enter)="onAddActiveFilter()"></ng-select>
  </div>
  <div class="col-3">
    <ng-select [items]="['include', 'exclude']" [(ngModel)]="newFilter.includes"
               (keyup.enter)="onAddActiveFilter()"></ng-select>
  </div>
  <div class="col-6">
    <input class="form-control" [(ngModel)]="newFilter.value" (keyup.enter)="onAddActiveFilter()"/>
  </div>
</div>

<div class="row m-2 d-flex justify-content-center" *ngIf="quickFilters && showAddFilter">
  <div class="border p-2">
    <small class="text-mute m-0 p-0">Quick Picks</small>
    <br/>
    <app-filter-badge *ngFor="let quickFilter of quickFilters"
                      [filter]="quickFilter"
                      (filterClick)="newFilter = quickFilter.duplicate(); onAddActiveFilter()"></app-filter-badge> &nbsp;
  </div>
</div>
