<div>
  <a class="list-group-item list-group-item-action text-info" (click)="collapse = !collapse">
    <i class="fa fa-exclamation-triangle text-danger"></i>&nbsp;<strong>{{ error._source.error }}</strong>
    <i class="text-muted float-right">{{ error._source.timestamp | timeAgo}}</i>

    <br/>
    <small class="text-muted ml-3">{{ error._source.client }}</small>
  </a>

  <div *ngIf="!collapse">
    <div class="card-body">
      <table class="table">
        <tr *ngIf="error._source.source">
          <th>Source</th>
          <td>{{ error._source.source }}</td>
        </tr>
        <tr *ngIf="error._source.position">
          <th>Position</th>
          <td>{{ error._source.position }}</td>
        </tr>
        <tr *ngIf="error._source.client">
          <th>Client</th>
          <td>{{ error._source.client }}</td>
        </tr>
        <tr *ngIf="error._source.session">
          <th>Session</th>
          <td>{{ error._source.session }}</td>
        </tr>
        <tr>
          <th width="20%">Date</th>
          <td>{{ error._source.timestamp | date }}</td>
        </tr>
      </table>

      <pre><code highlight [textContent]="getErrorHighlightContent()"></code></pre>

      <app-actions [actions]="actions" [pageLimit]="5"></app-actions>
    </div>
  </div>
</div>
