<div>
  <a class="list-group-item list-group-item-action" (click)="collapse = !collapse">
    <span class="badge badge-{{ getActionColor(action) }} text-white">{{ action.method}}</span> &nbsp;
    <strong>{{ action.type }}</strong> |
    <i class="text-muted">{{ action.value | slice:0:35 }} <span
            *ngIf="action.value.length >= 35">...</span>
    </i>
    <i class="float-right">{{ action.timestamp | date: "HH:mm"}}<i class="text-muted">:{{
      action.timestamp | date: "ss"}}</i></i>
    <br/>
    <small class="text-muted">{{ action.client }} <span class="text-primary" *ngIf="action.session">| {{ action.session }}</span>
    </small>
  </a>

  <div *ngIf="!collapse">
    <div class="card-body">
      <table class="table">
        <tr *ngIf="action.id">
          <th>id</th>
          <td>{{ action.id }}</td>
        </tr>
        <tr *ngIf="action.class">
          <th>class</th>
          <td>{{ action.class }}</td>
        </tr>
        <tr *ngIf="action.value">
          <th>value</th>
          <td>{{ action.value | slice:0:255 }} <span
                  *ngIf="action.value.length > 255">...</span></td>
        </tr>
        <tr *ngIf="action.type">
          <th>type</th>
          <td>{{ action.type }}</td>
        </tr>
        <tr>
          <th>path</th>
          <td>{{ action.path }}</td>
        </tr>
        <tr *ngIf="action.target">
          <th>target</th>
          <td>{{ action.target }}</td>
        </tr>
        <tr *ngIf="action.method">
          <th>method</th>
          <td>{{ action.method }}</td>
        </tr>
        <tr *ngIf="action.tree">
          <th>tree</th>
          <td>{{ action.tree }}</td>
        </tr>
        <tr>
          <th width="20%">Date</th>
          <td>
            {{ action.timestamp | date : "dd MMM yyyy HH:mm" }}
            <span class="text-muted">:{{ action.timestamp | date : "ss"}}</span>
          </td>
        </tr>
        <tr>
          <th width="20%">timestamp</th>
          <td>
            {{ action.timestamp }}
          </td>
        </tr>
      </table>


      <pre>
        <code highlight [textContent]="createHTML(action)"></code>
      </pre>
    </div>
  </div>
</div>
