<div>
    <a class="list-group-item list-group-item-action" (click)="collapse = !collapse">
        <span class="badge badge-{{ getActionColor(action) }} text-white">{{ action._source.method}}</span> &nbsp;
        <strong>{{ action._source.type }}</strong> |
        <i class="text-muted">{{ action._source.value | slice:0:35 }} <span
                *ngIf="action._source.value.length >= 35">...</span>
        </i>
        <i class="float-right">{{ action._source.timestamp | date: "HH:mm"}}<i class="text-muted">:{{
            action._source.timestamp | date: "ss"}}</i></i>
        <br/>
        <small class="text-muted">{{ action._source.client }} <span class="text-primary" *ngIf="action._source.session">| {{ action._source.session }}</span>
        </small>
    </a>

    <div *ngIf="!collapse">
        <div class="card-body">
            <table class="table">
                <tr *ngIf="action._source.id">
                    <th>id</th>
                    <td>{{ action._source.id }}</td>
                </tr>
                <tr *ngIf="action._source.class">
                    <th>class</th>
                    <td>{{ action._source.class }}</td>
                </tr>
                <tr *ngIf="action._source.value">
                    <th>value</th>
                    <td>{{ action._source.value | slice:0:255 }} <span
                            *ngIf="action._source.value.length > 255">...</span></td>
                </tr>
                <tr *ngIf="action._source.type">
                    <th>type</th>
                    <td>{{ action._source.type }}</td>
                </tr>
                <tr>
                    <th>path</th>
                    <td>{{ action._source.path }}</td>
                </tr>
                <tr *ngIf="action._source.target">
                    <th>target</th>
                    <td>{{ action._source.target }}</td>
                </tr>
                <tr *ngIf="action._source.method">
                    <th>method</th>
                    <td>{{ action._source.method }}</td>
                </tr>
                <tr *ngIf="action._source.tree">
                    <th>tree</th>
                    <td>{{ action._source.tree }}</td>
                </tr>
                <tr>
                    <th width="20%">timestamp</th>
                    <td>{{ action._source.timestamp | date : "dd MMM yyyy HH:mm" }}
                        <span class="text-muted">:{{ action._source.timestamp | date : "ss"}}</span>
                    </td>
                </tr>
            </table>


            <pre>
        <code highlight [textContent]="createHTML(action._source)"></code>
      </pre>
        </div>
    </div>
</div>
