<nav aria-label="..." *ngIf="pageTotal() > 0">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="pageTotal() < showLimit || pageSelected < showLimit/2">
      <a class="page-link" (click)="loadPage(0)"><i class="fa fa-angle-double-left"></i></a>
    </li>
    <li class="page-item" [class.disabled]="pageSelected == 0">
      <a class="page-link" (click)="loadPage(pageSelected - 1)"><i class="fa fa-angle-left"></i></a>
    </li>
    <li class="page-item" *ngIf="pageSelected - showLimit > 1">
      <a class="page-link disabled" >..</a>
    </li>

    <li class="page-item" *ngFor="let page of pages()" [class.active]="page == pageSelected">
      <a class="page-link" (click)="loadPage(page)">{{ page+1 }}</a>
    </li>

    <li class="page-item" *ngIf="pageTotal() > showLimit && pageSelected < pageTotal() - showLimit/2">
      <a class="page-link disabled">..</a>
    </li>
    <li class="page-item" [class.disabled]="pageSelected == pageTotal() - 1">
      <a class="page-link" (click)="loadPage(pageSelected + 1)"><i class="fa fa-angle-right"></i></a>
    </li>
    <li class="page-item" [class.disabled]=" pageTotal() <= showLimit || pageSelected >= pageTotal() - showLimit/2">
      <a class="page-link" (click)="loadPage(pageTotal()-1)"><i class="fa fa-angle-double-right"></i></a>
    </li>
  </ul>
</nav>
