<div>
  <div class="card mb-1">
    <div class="card-header">
      <h4 class="float-left">
        <span *ngIf="totalErrors" class="badge badge-danger">{{ totalErrors }}</span> Errors
      </h4>

      <div class="btn-group float-right" dropdown>
        <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
          {{ pageLimit }} <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let i of [5,10,20,50,100]" role="menuitem"><a class="dropdown-item"
                                                                    (click)="setPageLimit(i)">{{ i
            }}</a></li>
        </ul>
      </div>

    </div>

    <div class="bg-light">
      <app-filter
      ></app-filter>
    </div>

    <div class="bg-light" hidden>
      <app-filter [filterOptions]="filterOptions" [quickFilters]="quickFilters"></app-filter>
    </div>

    <div class="card-body empty-state text-center  p-4" *ngIf="totalErrors == 0">
      <h3>No Errors</h3>
      <h5>Enjoy this moment, it won't last</h5>
    </div>

    <img class="img-responsive" src="/assets/img/emptyStates/emptyErrorState.png" *ngIf="errors.length == 0"/>
    <div class="list-group list-group-action" *ngIf="errors">
      <app-error *ngFor="let error of errors" [error]="error"></app-error>
    </div>
  </div>

  <app-pager [pageLimit]="pageLimit" [amount]="totalErrors" (pageClick)="loadPage($event)"></app-pager>
</div>
