<div>
  <div class="card mb-1">
    <h4 class="card-header">
      <span class="badge badge-danger">{{ totalActions }}</span> Errors
    </h4>
    <p class="card-body text-muted" *ngIf="errors.length == 0">No errors.</p>
    <div class="list-group list-group-action" *ngIf="errors.length > 0">
      <!--<app-error *ngFor="let err of pages[pageSelected]" [error]="err"></app-error>-->
      <app-error *ngFor="let error of errors" [error]="error"></app-error>
    </div>
  </div>

  <app-pager [pageLimit]="pageLimit" [amount]="totalErrors" (pageClick)="loadPage($event)"></app-pager>
</div>
