<div>
  <div class="card mb-1">
    <h4 class="card-header">
      <span *ngIf="totalActions > 0" class="badge badge-warning">{{ totalActions }}</span> Actions
    </h4>
    <p class="card-body text-muted" *ngIf="actions.length == 0">No actions.</p>
    <div class="list-group list-group-action">
      <app-action *ngFor="let action of actions" [action]="action"></app-action>
    </div>
  </div>

  <app-pager [pageLimit]="pageLimit" [amount]="totalActions" (pageClick)="loadPage($event)"></app-pager>
</div>
