<div>
  <div class="card mb-1">
    <h4 class="card-header">
      Actions
    </h4>
    <p class="card-body text-muted" *ngIf="pages.length == 0">No actions.</p>
    <div class="list-group list-group-action">
      <app-action *ngFor="let action of pages[selectedPage]" [action]="action"></app-action>
    </div>
  </div>

  <nav aria-label="..." *ngIf="pages.length > 1">
    <ul class="pagination">
      <li *ngFor="let page of pages, let i = index" class="page-item" [class.active]="i == selectedPage">
        <a class="page-link" (click)="selectedPage = i">{{ i+1 }}</a>
      </li>
    </ul>
  </nav>
</div>
