<div>
    <div class="card mb-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="float-left">
                <span *ngIf="totalActions" class="badge badge-warning">{{ totalActions }}</span> Actions
            </h4>

            <div class="btn-group float-right" dropdown>
                <button dropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                    {{ pageLimit }} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let i of [5,10,20,50,100]" role="menuitem"><a class="dropdown-item"
                                                                              (click)="setPageLimit(i, pager)">{{ i
                        }}</a></li>
                </ul>
            </div>
        </div>

        <div class="bg-light">
            <app-filter
                    [filterOptions]="filterOptions"
                    [quickFilters]="quickFilters"
                    (filtersChanged)="activeFilters = $event; pager.loadPage()"></app-filter>
        </div>

        <p class="card-body text-muted" *ngIf="!actions">No actions.</p>
        <img class="img-responsive" src="/assets/img/emptyStates/emptyActionState.png" *ngIf="actions.length == 0"/>
        <div class="list-group list-group-action" *ngIf="actions">

            <app-action *ngFor="let action of actions" [action]="action"></app-action>
        </div>
    </div>

    <app-pager #pager [pageLimit]="pageLimit" [amount]="totalActions" (pageClick)="loadPage($event)"></app-pager>
</div>
